@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --side_margin_nav: 20px;
    --small_font_size: 24px;
}

* {
    transition: all 0.3s ease;
}

nav {
    position: static;
    left: 3px;
    right: 3px;
    top: 0px;
    border-bottom: #808080 solid ;
}

h1, h2, h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

li {
    text-decoration: none;
    list-style: none;
}
a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: var(--small_font_size)
}


a:hover {
    color: #0099ff;
}

ul.nav_links {
    margin: 0px;
    padding: 0px;
    float: right;
}

/* social_media buttons */
.social_media {
    color: #000000;

}

/* nav bar button */
.nav_links > li{
    display: inline-block;
    margin-top: 10px;
    margin-right: var(--side_margin_nav);
}

/* home button */
nav > li{
    display: inline-block;
    margin-top: 10px;
    margin-left: var(--side_margin_nav);
    color: #000000;   
}

.home_button > a {
    color: #000000;
    font-size: 24px;
}

.menu-button {
    font-size: 24px;
    margin-right: 5px;
    color: #000000;
}

/* Burger menu for mobile */
.burger {
    display: none; /*doesn't display the burger menu on large-screen device*/
    float: right;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

}
.burger div{
    border-radius: 5px;
    width: 30px;
    height: 5px;
    margin: 5px;
    background-color: black;
    transition: all 0.3s ease-in 0s;

}

/* 404 css */
.warning {
    text-align: center;
    position: absolute;
    align-self: center;
    align-items: center;
    align-content: center;
    left: 30%;
    top: 40%;
}

.warning > h1 {
    color: white;
    width: max-content;
}

.warning > a {
    color: white;
    width: max-content;
}

@keyframes backgroundColor {
    0%{
        background-color: red;
    }
    50%{
        background-color: darkred;
    }
    100%{
        background-color: red;
    }
    
}