.burger {
    display: none; /*doesn't display the burger menu on large-screen device*/
    float: right;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    padding: 0px 0px 0px 0px;
}
.burger div{
    border-radius: 5px;
    width: 30px;
    height: 5px;
    margin: 0px 5px 5px 5px;
    background-color: white;
    transition: all 0.3s ease-in 0s;
}



@media screen and (max-width:480px) {
    .content {
        padding: 0px 1px 5px 5px;
        margin: 0px 0px 0px 0px;
        border-radius: 0px;
    }

    .nav_links {
        display:none;
    }

    .burger {
        display: block;
    }
    .sub_menu > li:active {
        background-color: skyblue;
    }
    footer .container .about{
        width:100%;
    }
    footer .container .links{
        width:100%;
    }
    footer .container .contact{
        width:100%;
    }
    footer h2 {
        color:#ffffff;
        width: max-content;
        font-weight: 500;
    }

    .social-icon li a {
        width:30px;
        height:30px;
    }
    footer .container {
        flex-direction: column;
    }
}