@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --side_margin_nav: 10px;
    --small_font_size: 24px;
    --default_border_radius: 5px;
    --text_font_size: 20px;
    --footer-text_font_size: 16px;
}

html {
    scroll-behavior: smooth;
}

* {
    -webkit-tap-highlight-color: transparent;
    margin:0px;
    padding: 0px;
    transition: all 0.3s ease;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

body {
    background-color: whitesmoke;
    height: 100%;
    min-height: 100%;
}

nav {
    position: initial;
    padding: 5px var(--side_margin_nav) 5px var(--side_margin_nav);
    margin: 0px 0px 0px 0px;
    background-color: black;
    /* border-bottom: #808080 solid ; */
}

h1, h2 ,h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    width: max-content;
}

h1 {
    font-size: 30px;
}

a {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: var(--small_font_size);
    text-decoration: none;
    color: black;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #000;
}

ul.nav_links {
    float: right;
}

.nav_links > li {
}

.nav_links > li >a {
    color: #ffffff;
    margin: 0px 5px 0px 5px;
}

nav > li{
    display: inline-flex;
    margin: 0px 5px 0px 5px;
    color: #ffffff;
}

nav > li > a{
    color: #ffffff;
}

.nav_links > li {
    display: inline-flex;
}


.sub_menu {
    position: absolute;
    display: none;
    opacity: 0;
    color: white;
    background-color: black;
    padding: 0px 0px 0px 0px;
    margin: 33.5px var(--side_margin_nav) 0px 0px;
    border-radius: var(--default_border_radius);
    width: 70px;
}

.sub_menu:hover {
    display: initial;
    visibility: visible;
    opacity: 1;
}

li:hover > .sub_menu {
    display: initial;
    visibility: visible;
    opacity: 1;
}

.sub_menu > li >a {
    color: white;
}

.sub_menu > li {
    margin: 0px 0px 0px 0px;
    padding: 0px 5px 0px 5px;
    border-radius: var(--default_border_radius);
}
.sub_menu > li:hover {
    background-color: skyblue;
}

.content {
    padding: 0px 5px 5px 5px;
    margin: 10px 30px 10px 30px;
    background-color: white;
    color: black;
    border-radius: var(--default_border_radius);
}

.content > h1 {
    /* margin: 0px 0px 0px 0px; */
}

.content > p {
    font-size: var(--text_font_size);
}

footer {
    color: #ffffff;
    margin-bottom: 0px;
    background-color: #111;
    display: block;
    width: -webkit-fill-available;
    position: inherit;
    bottom: 0px;
    height: max-content;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding:0px 15px 0px 15px;
}

footer h2 {
    color:white;
    font-weight: 500;
}

footer > .container > .about > h2::before {
    content: '';
    bottom: 0px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer .container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .about{
    width:40%;
}

footer > .about, .links, .contact {
    margin: 0px 0px 0px 0px;
    /* background-color: red; */
}

footer li {
    color: white;
    list-style: none;
    font-size: var(--footer-text_font_size);
}

footer a {
    color: white;
    text-decoration: none;
    font-size: var(--footer-text_font_size);
}


footer p{
    align-self: center;
   color: #ffffff;
   font-size: var(--footer-text_font_size);

}

footer > p > a,strong{
    color: #ffffff;
}

footer > p.copyright{
    font-size: 14px;
    color: #797979;
 }

 footer > p.copyright >a,strong{
    color: #797979;
    font-size: 14px;
}

.about, .links, .contact {
    margin:5px 50px 5px 0px;
}




/* custom scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /*Thiết Lập Cho Thành Phần Icon Mạng Xã Hội*/
 .social-icon{
    margin-top: 20px;
    display: flex;
}
.social-icon li {
    list-style: none;
}
.social-icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: var(--default_border_radius);
}
.social-icon li a:hover{
    background: #000;
}
.social-icon li a .fa{
    color: #fff;
    font-size: 20px;
}

footer option {
    color:#ffffff;
    background: black;
}

footer select {
    border-radius: var(--default_border_radius);
}